<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>शिक्षक साइन अप</title>
     <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h2>शिक्षक साइन अप</h2>
         <form action=".../student_module/php/teacher_singup.php" method="post">
             <label for="name">नाव:</label>  <input type="text" name="name" id="name" placeholder="नाव" required><br>
             <label for="department">विभाग:</label> <input type="text" name="department" id="department" placeholder="विभाग" required><br>
             <label for="mobile">मोबाईल नंबर:</label>  <input type="number" name="mobile" id="mobile" placeholder="मोबाईल नंबर" required><br>
              <label for="email">ईमेल:</label>  <input type="email" name="email" id="email" placeholder="ईमेल" required><br>
             <label for="birthdate">जन्म तारीख:</label>   <input type="date" name="birthdate" id="birthdate" required><br>
             <label for="password">पासवर्ड:</label> <input type="password" name="password" id="password" placeholder="पासवर्ड" required><br>
            <button type="submit">साइन अप</button>
        </form>
    </div>
</body>
</html>